<div class="dash-row-dropview">
	<a class="dash-row-dropview-close pointer" ng-click="ctrl.rowCtrl.closeDropView();">
		<i class="fa fa-remove"></i>
	</a>

	<div>
		<div class="section">
			<div class="gf-form">
				<span class="gf-form-label width-6">标题</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.title'></input>
			</div>
			<div class="gf-form-inline">
				<div class="gf-form">
					<label class="gf-form-label width-6">大小</label>
					<div class="gf-form-select-wrapper">
						<select class="input-small gf-form-input" ng-model="ctrl.row.titleSize" ng-options="f for f in ctrl.fontSizes"></select>
					</div>
				</div>
				<gf-form-switch class="gf-form" label="显示" checked="ctrl.row.showTitle">
				</gf-form-switch>
			</div>
		</div>
		<div class="section">
			<div class="gf-form">
				<span class="gf-form-label width-7">高</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.height'></input>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">重复</span>
				<dash-repeat-option model="ctrl.row"></dash-repeat-option>
			</div>
		</div>
	</div>
</div>
