<div ng-controller="VariableEditorCtrl" ng-init="init()">
  <div class="tabbed-view-header">
    <h2 class="tabbed-view-title">
      模板
    </h2>

    <ul class="gf-tabs">
      <li class="gf-tabs-item" >
        <a class="gf-tabs-link" ng-click="mode = 'list';" ng-class="{active: mode === 'list'}">
          变量
        </a>
      </li>
      <li class="gf-tabs-item" ng-show="mode === 'edit'">
        <a class="gf-tabs-link" ng-class="{active: mode === 'edit'}">
          编辑
        </a>
      </li>
      <li class="gf-tabs-item" ng-show="mode === 'new'">
        <span class="active gf-tabs-link">新建</span>
      </li>
    </ul>

    <button class="tabbed-view-close-btn" ng-click="dismiss();">
      <i class="fa fa-remove"></i>
    </button>
  </div>

  <div class="tabbed-view-body">

    <div ng-if="mode === 'list'">
      <div ng-if="variables.length === 0">
        <em>无任何模板变量</em>
        <br /> <br />
			</div>
      <table class="grafana-options-table">
        <tr ng-repeat="variable in variables">
          <td style="width: 1%">
            <span class="template-variable">
              ${{variable.name}}
            </span>
          </td>
          <td class="max-width" style="max-width: 200px;">
            {{variable.query}}
          </td>

          <td style="width: 1%"><i ng-click="_.move(variables,$index,$index-1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i></td>
          <td style="width: 1%"><i ng-click="_.move(variables,$index,$index+1)" ng-hide="$last" class="pointer fa fa-arrow-down"></i></td>
          <td style="width: 1%">
            <a ng-click="duplicate(variable)" class="btn btn-inverse btn-mini">
              复制
            </a>
          </td>
          <td style="width: 1%">
            <a ng-click="edit(variable)" class="btn btn-inverse btn-mini">
              <i class="fa fa-edit"></i>
              编辑
            </a>
          </td>
          <td style="width: 1%">
            <a ng-click="removeVariable(variable)" class="btn btn-danger btn-mini">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="gf-form" ng-show="mode === 'list'">
      <div class="gf-form-button-row">
        <a type="button" class="btn gf-form-button btn-success" ng-click="mode = 'new';"><i class="fa fa-plus" ></i>&nbsp;&nbsp;新建</a>
      </div>
    </div>

    <form ng-if="mode === 'edit' || mode === 'new'" name="ctrl.form">
      <h5 class="section-heading">变量</h5>
      <div class="gf-form-group">
				<div class="gf-form-inline">
          <div class="gf-form max-width-19">
            <span class="gf-form-label width-6">名称</span>
            <input type="text" class="gf-form-input" name="name" placeholder="名称" ng-model='current.name' required ng-pattern="namePattern"></input>
          </div>
          <div class="gf-form max-width-19">
            <span class="gf-form-label width-6">
              类型
              <info-popover mode="right-normal">
                {{variableTypes[current.type].description}}
              </info-popover>
            </span>
            <div class="gf-form-select-wrapper max-width-17">
              <select class="gf-form-input" ng-model="current.type" ng-options="k as v.name for (k, v) in variableTypes" ng-change="typeChanged()"></select>
            </div>
          </div>
        </div>

				<div class="gf-form" ng-show="ctrl.form.name.$error.pattern">
          <span class="gf-form-label gf-form-label--error">Template names cannot begin with '__' that's reserved for Grafanas global variables</span>
        </div>

        <div class="gf-form-inline">
          <div class="gf-form max-width-19">
            <span class="gf-form-label width-6">标签</span>
            <input type="text" class="gf-form-input" ng-model='current.label' placeholder="可选的显示名称"></input>
          </div>
          <div class="gf-form max-width-19">
            <span class="gf-form-label width-6">隐藏</span>
            <div class="gf-form-select-wrapper max-width-15">
              <select class="gf-form-input" ng-model="current.hide" ng-options="f.value as f.text for f in hideOptions"></select>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="current.type === 'interval'" class="gf-form-group">
        <h5 class="section-heading">Interval 选项</h5>

        <div class="gf-form">
          <span class="gf-form-label width-9">值</span>
          <input type="text" class="gf-form-input" placeholder="name" ng-model='current.query' placeholder="1m,10m,1h,6h,1d,7d" ng-model-onblur ng-change="runQuery()" required></input>
        </div>

        <div class="gf-form-inline">
          <gf-form-switch class="gf-form" label="自动选项" label-class="width-9" checked="current.auto" on-change="runQuery()">
          </gf-form-switch>

          <div class="gf-form">
            <span class="gf-form-label width-9" ng-show="current.auto">
              步数 <tip>当前时间范围被切分为多少段</tip>
            </span>
            <div class="gf-form-select-wrapper max-width-10" ng-show="current.auto">
              <select class="gf-form-input" ng-model="current.auto_count" ng-options="f for f in [1,2,3,4,5,10,20,30,40,50,100,200,300,400,500]" ng-change="runQuery()"></select>
            </div>
          </div>
          <div class="gf-form">
            <span class="gf-form-label" ng-show="current.auto">
              最小间隔 <tip>计算得到的值不能小于该值</tip>
            </span>
            <input type="text" class="gf-form-input max-width-10" ng-show="current.auto" ng-model="current.auto_min" ng-change="runQuery()" placeholder="10s"></input>
          </div>
        </div>
      </div>

      <div ng-if="current.type === 'custom'" class="gf-form-group">
        <h5 class="section-heading">Custom 选项</h5>
        <div class="gf-form">
          <span class="gf-form-label width-14">值 (使用逗号分隔)</span>
          <input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="1, 10, 20" required></input>
        </div>
      </div>

      <div ng-if="current.type === 'constant'" class="gf-form-group">
        <h5 class="section-heading">Constant 选项</h5>
        <div class="gf-form">
          <span class="gf-form-label">值</span>
          <input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="your metric prefix"></input>
        </div>
      </div>

      <div ng-if="current.type === 'query'" class="gf-form-group">
        <h5 class="section-heading">Query 选项</h5>

        <div class="gf-form-inline">
          <div class="gf-form max-width-21">
            <span class="gf-form-label width-7">数据源</span>
            <div class="gf-form-select-wrapper max-width-14">
              <select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required>
                <option value="" ng-if="false"></option>
              </select>
            </div>
          </div>
          <div class="gf-form max-width-21">
            <span class="gf-form-label width-7">
              刷新
              <info-popover mode="right-normal">
                何时刷新该变量值
              </info-popover>
            </span>
            <div class="gf-form-select-wrapper max-width-14">
              <select class="gf-form-input" ng-model="current.refresh" ng-options="f.value as f.text for f in refreshOptions"></select>
            </div>
          </div>
        </div>
        <div class="gf-form">
          <span class="gf-form-label width-7">查询</span>
          <input type="text" class="gf-form-input" ng-model='current.query' placeholder="查询条件" ng-model-onblur ng-change="runQuery()" required></input>
        </div>
        <div class="gf-form">
          <span class="gf-form-label width-7">
            正则
            <info-popover mode="right-normal">
              可选, 如果你需要过滤查询到的值
            </info-popover>
          </span>
          <input type="text" class="gf-form-input" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
        </div>
        <div class="gf-form max-width-21">
          <span class="gf-form-label width-7">
            排序
            <info-popover mode="right-normal">
              如何排序查询到的值
            </info-popover>
          </span>
          <div class="gf-form-select-wrapper max-width-14">
            <select class="gf-form-input" ng-model="current.sort" ng-options="f.value as f.text for f in sortOptions" ng-change="runQuery()"></select>
          </div>
        </div>
      </div>

      <div ng-show="current.type === 'datasource'" class="gf-form-group">
        <h5 class="section-heading">Data source 选项</h5>

        <div class="gf-form">
          <label class="gf-form-label width-12">类型</label>
          <div class="gf-form-select-wrapper max-width-18">
            <select class="gf-form-input" ng-model="current.query" ng-options="f.value as f.text for f in datasourceTypes" ng-change="runQuery()"></select>
          </div>
        </div>

        <div class="gf-form">
          <label class="gf-form-label width-12">
            过滤实例名
            <info-popover mode="right-normal">
              使用正则表达式进行过滤
              <br><br>
              例如: <code>/^prod/</code>

            </info-popover>
          </label>
          <input type="text" class="gf-form-input max-width-18" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
        </div>
      </div>

      <div ng-if="current.type === 'adhoc'" class="gf-form-group">
        <h5 class="section-heading">选项</h5>
        <div class="gf-form max-width-21">
          <span class="gf-form-label width-8">数据源</span>
          <div class="gf-form-select-wrapper max-width-14">
            <select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required ng-change="validate()">
              <option value="" ng-if="false"></option>
            </select>
          </div>
        </div>
      </div>

      <div class="section gf-form-group" ng-show="variableTypes[current.type].supportsMulti">
        <h5 class="section-heading">多选设置</h5>
        <div class="section">
          <gf-form-switch class="gf-form"
                          label="多选"
                          label-class="width-10"
                          tooltip="能够同时选择多个值"
                          checked="current.multi"
                          on-change="runQuery()">
          </gf-form-switch>
          <gf-form-switch class="gf-form"
                          label="包括 All 选项"
                          label-class="width-10"
                          checked="current.includeAll"
                          on-change="runQuery()">
          </gf-form-switch>
        </div>
        <div class="gf-form" ng-if="current.includeAll">
          <span class="gf-form-label width-10">自定义 All 的值</span>
          <input type="text" class="gf-form-input max-width-15" ng-model='current.allValue' placeholder="blank = auto"></input>
        </div>
      </div>

      <div class="gf-form-group" ng-show="current.options.length">
        <h5>数据预览 (显示前 20 个值)</h5>
        <div class="gf-form-inline">
          <div class="gf-form" ng-repeat="option in current.options | limitTo: 20">
            <span class="gf-form-label">{{option.text}}</span>
          </div>
        </div>
      </div>

      <div class="alert alert-info gf-form-group" ng-if="infoText">
        {{infoText}}
      </div>

      <div class="gf-form-button-row p-y-0">
        <button type="submit" class="btn btn-success" ng-show="mode === 'edit'" ng-click="update();">更新</button>
        <button type="submit" class="btn btn-success" ng-show="mode === 'new'" ng-click="add();">添加</button>
      </div>

    </form>
  </div>
</div>

